; {{ ansible_managed }}

zend_extension = {{ php_extension_dir.stdout }}/xdebug.so

xdebug.var_display_max_depth = 100
xdebug.dump_globals = 1
xdebug.remote_enable = {{ php_xdebug_remote_enable|default(1) }}
xdebug.remote_host = {{ php_xdebug_remote_host|default('') }}
xdebug.dump_once = 1
xdebug.remote_autostart = 1
xdebug.remote_connect_back = 1
xdebug.remote_port = 9000
xdebug.remote_handler=dbgp